* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg, #ff6ec4), #7873f5;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;

}

.navbar a:hover [
    color: #ff6ec4;

]
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 20px 20px;

}
.logo {
    width: 80px;

}
.icon {
    width: 50px;
}
.neon-title {
    font-size: 2.5rem;
    color: #fff;
    text-shadow: 0 0 5px; #00ffe7, 0 0 10px #00ffe7;
    animation: flicker 2s infinite alternate;

}
@keyframes flicker {
    0% { opacity: 1; text-shadow: 0 0 5px #00ffe7, 0 0 10px #00ffe7;}
    50% {opacity: 0.8; text-shadow: 0 0 20px #00ffe7, 0 0 30px #00ffe7;
        100% { opacity: ;}